@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Yeseva+One&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
header{
  background-image: linear-gradient(45deg, #5DE0E6, #0078A6);
  box-shadow: 0px 3px 10px #464646;   
}

body{
  background-color: #18324d;
}
.titulo {
  display: flex;
  margin: 10px;
}
.titulo2{
  display: flex;
  position: relative;
  bottom: 200px;
  margin: 10px;
}
.titulo3{
  display: flex;
  position: relative;
  bottom: 500px;
  margin: 10px;
}
.titulo4{
  display: flex;
  position: relative;
  bottom: 800px;
  margin: 10px;
}
.titulo5{
  display: flex;
  position: relative;
  bottom: 1070px;
  margin: 10px;
}
.nav-bar{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}
.logo{
  display: flex;
  align-items: center;
  
}
.logo h1{
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 80;
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-list ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav-item{
  margin: 0 15px;
}
.nav-link{
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}
.login-button button{
  border: none;
  background-color: #065164;
  padding: 10px 15px;
  border-radius: 5px;
}
.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon{
  display: none;
}

.mobile-menu{
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar{
    padding: 1.5rem 4rem;
  }
  .nav-item{
    display: none;
  }

  .login-button{
    display: none;
  }

  .mobile-menu-icon{
    display: block;
  }

  .mobile-menu-icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    justify-content: center;
    padding-top: 1.2rem;
  }
  .mobile-menu .login-button{
    display: block;
    padding: 1rem 2rem;
  }
  .mobile-menu .login-button button{
    width: 100%;
  }
  .open{
    display: block;
  }
  
}


/*barra de pesquisa*/

.search-box{
    background: #0a1b2d;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .4s;
}
::-webkit-input-placeholder{
    color: #ffffff;
    font-family: sans-serif;
}
.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0a1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: #f0f5fb;
}
/*LIVRO 1*/

.container{
  position: absolute;
  width: 100px;
  height: 140px;
  margin: 1px;
  
}
.container:hover .flip{
  transform: rotateY(180deg);
}
.flip{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente,.tras{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #ffffff2a;
  backface-visibility: hidden;
}
.frente{
  background-image: url(livroalgoritimo.jpg);
  background-size: cover;
  border-width: 5px;
border-style: solid; 
border-color:  black
}
.tras{
  background-color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO2*/
.container2{
  position: relative;
  left: 200px;
  width: 100px;
  height: 140px;
  margin: 10px;
}
.container2:hover .flip2{
  transform: rotateY(180deg);
}
.flip2{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente2,.tras2{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente2{
  background-image: url(micro.jpg);
  background-size: cover;
}
.tras2{
  background-color: rgb(134, 10, 172);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO3*/
.container3{
  position: relative;
  left: 410px;
  bottom: 150px;
  width: 100px;
  height: 140px;
  
}
.container3:hover .flip3{
  transform: rotateY(180deg);
}
.flip3{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente3,.tras3{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente3{
  background-image: url(java.jpg);
  background-size: cover;
}
.tras3{
  background-color: rgb(0, 162, 255);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #000000;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
  font-weight: 700;
}

/*LIVRO4*/
.container4{
  position: relative;
  left: 600px;
  bottom: 290px;
  width: 100px;
  height: 140px;
  
}
.container4:hover .flip4{
  transform: rotateY(180deg);
}
.flip4{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente4,.tras4{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente4{
  background-image: url(Sql.jpg);
  background-size: cover;
}
.tras4{
  background-color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #ec0a0a;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
  font-weight: 700;
}

/*LIVRO5*/
.container5{
  position: relative;
  left: 10px;
  bottom: 190px;
  width: 100px;
  height: 140px;
  
}
.container5:hover .flip5{
  transform: rotateY(180deg);
}
.flip5{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente5,.tras5{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente5{
  background-image: url(culinaria.jpg);
  background-size: cover;
}
.tras5{
  background-color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #12128c;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
  font-weight: 700;
}


/*LIVRO6*/
.container6{
  position: relative;
  left: 200px;
  bottom: 330px;
  width: 100px;
  height: 140px;
  
}
.container6:hover .flip6{
  transform: rotateY(180deg);
}
.flip6{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente6,.tras6{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente6{
  background-image: url(pitadas.jpg);
  background-size: cover;
}
.tras6{
  background-color: rgb(0, 179, 255);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO6*/
.container7{
  position: relative;
  left: 400px;
  bottom: 470px;
  width: 100px;
  height: 140px;
  
}
.container7:hover .flip7{
  transform: rotateY(180deg);
}
.flip7{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente7,.tras7{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente7{
  background-image: url(toquedechefe.jpg);
  background-size: cover;
}
.tras7{
  background-color: rgb(99, 99, 99);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO8*/
.container8{
  position: relative;
  left: 600px;
  bottom: 610px;
  width: 100px;
  height: 140px;
  
}
.container8:hover .flip8{
  transform: rotateY(180deg);
}
.flip8{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente8,.tras8{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente8{
  background-image: url(fermentação.jpg);
  background-size: cover;
}
.tras8{
  background-color: rgb(230, 183, 109);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #04450e;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
  font-weight: 700;
}

/*LIVRO9*/
.container9{
  position: relative;
  left: 10px;
  bottom: 500px;
  width: 100px;
  height: 140px;
  
}
.container9:hover .flip9{
  transform: rotateY(180deg);
}
.flip9{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente9,.tras9{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente9{
  background-image: url(pedra.jpg);
  background-size: cover;
}
.tras9{
  background-color: rgb(121, 7, 7);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #9b9109;
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO10*/
.container10{
  position: relative;
  left: 200px;
  bottom: 640px;
  width: 100px;
  height: 140px;
  
}
.container10:hover .flip10{
  transform: rotateY(180deg);
}
.flip10{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente10,.tras10{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente10{
  background-image: url(camara.jpg);
  background-size: cover;
}
.tras10{
  background-color: rgb(12, 67, 5);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #9b9109;
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO11*/
.container11{
  position: relative;
  left: 400px;
  bottom: 780px;
  width: 100px;
  height: 140px;
  
}
.container11:hover .flip11{
  transform: rotateY(180deg);
}
.flip11{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente11,.tras11{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente11{
  background-image: url(azkaban.jpg);
  background-size: cover;
}
.tras11{
  background-color: rgb(43, 1, 65);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(224, 224, 224);
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}
/*LIVRO12*/
.container12{
  position: relative;
  left: 600px;
  bottom: 920px;
  width: 100px;
  height: 140px;
  
}
.container12:hover .flip12{
  transform: rotateY(180deg);
}
.flip12{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente12,.tras12{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente12{
  background-image: url(calice.jpg);
  background-size: cover;
}
.tras12{
  background-color: rgb(4, 31, 65);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(8, 126, 30);
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO13*/
.container13{
  position: relative;
  left: 10px;
  bottom: 800px;
  width: 100px;
  height: 140px;
  
}
.container13:hover .flip13{
  transform: rotateY(180deg);
}
.flip13{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente13,.tras13{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente13{
  background-image: url(biblioteca.jpg);
  background-size: cover;
}
.tras13{
  background-color: rgb(6, 137, 4);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO14*/
.container14{
  position: relative;
  left: 200px;
  bottom: 940px;
  width: 100px;
  height: 140px;
  
}
.container14:hover .flip14{
  transform: rotateY(180deg);
}
.flip14{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente14,.tras14{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente14{
  background-image: url(hobbit.jpg);
  background-size: cover;
}
.tras14{
  background-color: rgb(5, 81, 187);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO15*/
.container15{
  position: relative;
  left: 400px;
  bottom: 1080px;
  width: 100px;
  height: 140px;
  
}
.container15:hover .flip15{
  transform: rotateY(180deg);
}
.flip15{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente15,.tras15{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente15{
  background-image: url(espinhos.jpg);
  background-size: cover;
}
.tras15{
  background-color: rgb(86, 13, 106);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}
/*LIVRO16*/
.container16{
  position: relative;
  left: 600px;
  bottom: 1220px;
  width: 100px;
  height: 140px;
  
}
.container16:hover .flip16{
  transform: rotateY(180deg);
}
.flip16{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente16,.tras16{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente16{
  background-image: url(got.jpg);
  background-size: cover;
}
.tras16{
  background-color: rgb(184, 187, 6);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO17*/
.container17{
  position: relative;
  left: 10px;
  bottom: 1060px;
  width: 100px;
  height: 140px;
  
}
.container17:hover .flip17{
  transform: rotateY(180deg);
}
.flip17{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente17,.tras17{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente17{
  background-image: url(mindset.jpg);
  background-size: cover;
}
.tras17{
  background-color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}

/*LIVRO18*/
.container18{
  position: relative;
  left: 200px;
  bottom: 1200px;
  width: 100px;
  height: 140px;
  
}
.container18:hover .flip18{
  transform: rotateY(180deg);
}
.flip18{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente18,.tras18{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente18{
  background-image: url(opoderdohabito.jpg);
  background-size: cover;
}
.tras18{
  background-color: rgb(220, 210, 22);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(255, 0, 0);
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}


/*LIVRO19*/
.container19{
  position: relative;
  left: 400px;
  bottom: 1340px;
  width: 100px;
  height: 140px;
  
}
.container19:hover .flip19{
  transform: rotateY(180deg);
}
.flip19{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente19,.tras19{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente19{
  background-image: url(foda.jpg);
  background-size: cover;
}
.tras19{
  background-color: rgb(255, 128, 0);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}
/*LIVRO20*/
.container20{
  position: relative;
  left: 600px;
  bottom: 1485px;
  width: 100px;
  height: 140px;
  
}
.container20:hover .flip20{
  transform: rotateY(180deg);
}
.flip20{
  position: absolute;
  width: 140%;
  height: 140%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 10px;
}
.frente20,.tras20{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #0000002a;
  backface-visibility: hidden;
}
.frente20{
  background-image: url(habito.jpg);
  background-size: cover;
}
.tras20{
  background-color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  align-items: top;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(194, 168, 19);
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}











/*FOOTER*/
footer{
  color: #f5f5f5;
}

.footer-link{
  text-decoration: none;
}

.footer_content{
  background-color: #171717;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1{
  margin-bottom: 0.75rem;
}

#footer_social_media{
   display: flex;
   gap: 2rem;
   margin-top: 1.5rem;
}
#footer_social_media .footer-link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #171717;
  border-radius: 50%;
  transition: all 0.4s;
}
#footer_social_media .footer-link:hover i {
font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
  opacity: 0.8;
}

#instagram{
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook{
  background-color: #4267b3;
}
#whatsapp{
  background-color: #25d366;
}

.footer-list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}
.footer-list .footer-link {
  color: #ffffff;
  transition: all 0.4s;
}
.footer-list .footer-link:hover {
  color: #7f1ee0;
}
#footer_subscribe{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p{
  color: #1cb7b7;
}
#input_group{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
}

#input_group input{
  all: unset;
  padding: 0.75rem;
  width: 100%;
}
#input_group button{
  background-color: #0fd4ee;
  border: none;
  color: #000000;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}
#input_group button:hover{
  opacity: 0.8;
}
#footer_coupryight{
  display: flex;
  justify-content: center;
  background-color: #0078A6;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content{
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}
